@import "../../color.scss";


.multiselect,
.selectBox {
  position: relative;
  font-size: 16px;
  .select {
    border: 1px solid $grey;
    height: 38px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    &:focus {
      border-color: $blue;
      box-shadow: inset 0 1px 1px $gw,
        0 0 0 3px $bw;
      border-radius: 4px;
    }
    p,
    div {
      margin: 0 5px;
      font-size: 16px;
      opacity: 1;
      &:hover {
        cursor: default;
      }
    }
    p {
      margin: 0 10px;
    }
    span {
      margin-left: 10px;
      font-size: 13px;
      &:hover {
        cursor: pointer;
      }
    }
    div {
      padding: 3px 10px;
      border-radius: 5px;
      background-color: $bwo;
    }
  }
  ul {
    width: 100%;
    position: absolute;
    border: 1px solid $grey;
    border-radius: 4px;
    background-color: white;
    z-index: 1;
    .active {
      background-color: $gw;
    }
    li {
      list-style: none;
      padding: 10px;
      &:hover {
        cursor: default;
        background-color: $bwo;
      }
    }
    transition: all 0.3s;
  }
}
