.container{
    display: flex;
    align-items:center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba($color: #ffffff, $alpha: 0.8);
    border-radius: 15px;
    
}
.window{
    color: white;
    position: relative;
    display: flex;
    align-items:center;
    border-radius: 15px;
    justify-content: center;
        background-color:#47c9a2;
    height: 300px;
    width: 500px;
        h2:hover{
            cursor: default;
        }
        span{
            font-size: 30px;
            position: absolute;
            right: 13px;
            top: 5px;
            &:hover{
                cursor: pointer;
            }
        }
    }
    